<section class="advantages">
    <div class="container">
        <h2 hidden>Advantages</h2>
            <div class="advantages-info">
                <ol class="advantages-list">
                    <li class="advantages-item">
                        <span class="line"></span>
                        <p class="advantages-item-text">Swimming and water sports: try your hand at water skiing</p>
                    </li>
                    <li class="advantages-item">
                        <span class="line"></span>
                        <p class="advantages-item-text">Fishing: try to catch your own dinner</p>
                    </li>
                    <li class="advantages-item">
                        <span class="line"></span>
                        <p class="advantages-item-text">Sightseeing tours: take a shore or island tour, enjoy the views and
                            sunsets from the water</p>
                    </li>
                    <li class="advantages-item">
                        <span class="line"></span>
                        <p class="advantages-item-text">Rest and relaxation: read a book or listen to music while enjoying
                            the
                            outdoor atmosphere.</p>
                    </li>
                </ol>
                <picture>
                    <source media="(min-width: 1440px )" srcset="../img/advantages.1d14.jpg 1x, ../img/advantages.2d14.jpg 2x">
                    <source media="(min-width: 1280px )" srcset="../img/advantages.1d12.jpg 1x, ../img/advantages.2d12.jpg 2x">
                    <source media="(min-width: 768px )" srcset="../img/advantages.1p.jpg 1x, ../img/advantages.2p.jpg 2x">
                    <source media="(max-width: 767px )" srcset="../img/advantages.1t.jpg 1x, ../img/advantages.2t.jpg 2x">
                    <img class="advantages-image" src="../img/advantages.1p.jpg" alt="Luxury yacht interior." width="704">
                </picture>
            </div>
    </div>
</section>


