<footer class="page-footer">
  <div class="container container-footer">
    <nav class="nav-footer">
      <a href="/index.html" class="logo-footer">yachtjet</a>
      <ul class="nav-footer-list">
        <li class="nav-footer-item">
          <a href="#about" class="nav-footer-link">About</a>
        </li>
        <li class="nav-footer-item">
          <a href="#yachts" class="nav-footer-link">Yachts</a>
        </li>
        <li class="nav-footer-item">
          <a href="#reviews" class="nav-footer-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="sm-footer-list">
      <li class="sm-footer-item">
        <a
          href="https://www.instagram.com/goitclub/ "
          class="sm-footer-link"
          target="_blank"
          ><svg width="24" height="24" class="sm-footer-icon">
            <use href="../img/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="sm-footer-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="sm-footer-link"
          target="_blank"
          ><svg width="24" height="24" class="sm-footer-icon">
            <use href="../img/icon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="sm-footer-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="sm-footer-link"
          target="_blank"
          ><svg width="24" height="24" class="sm-footer-icon">
            <use href="../img/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="text-footer">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <p class="text-footer-info">
      2023. Yacht Adventures
      <span class="text-footer-policy"><a href="">Privacy Police</a></span>
    </p>
  </div>
</footer>
