<header class="header">
  <div class="container header-container">
    <div class="header-content">
      <a href="./index.html" class="header-logo"> yahtjet</a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a href="#about" class="header-nav-link">ABOUT</a>
          </li>
          <li class="header-nav-item">
            <a href="#rent-a-yacht" class="header-nav-link">YACHTS</a>
          </li>
          <li class="header-nav-item">
            <a href="#reviews" class="header-nav-link">REVIEWS</a>
          </li>
        </ul>
      </nav>

      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="header-soc-link"
          >
            <svg class="header-soc-link-icon" width="24" height="24">
              <use href="/img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="header-soc-link"
          >
            <svg class="header-soc-link-icon" width="24" height="24">
              <use href="/img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="header-soc-link"
          >
            <svg class="header-soc-link-icon" width="24" height="24">
              <use href="/img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button type="button" class="burger-btn">
        <svg class="burger-icon" width="28" height="28">
          <use href="../img/icon.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
