<div class="mobile-menu is-open">
  <div class="container cont-mobile-menu">
    <div class="header-mobile-menu">
      <a href="/index.html" class="mobile-menu-logo">yachtjet</a>
      <button type="button" class="btn-close">
        <svg class="icon-close" width="16" height="16">
          <use href="../img/icon.svg#icon-close-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">About</li>
        <li class="mobile-menu-item">Yachts</li>
        <li class="mobile-menu-item">Reviews</li>
      </ul>
    </nav>
    <div>
      <ul class="mobile-menu-list-sm">
        <li class="mobile-menu-item-sm">
          <a href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="mobile-menu-icon-sm" width="24" height="24">
              <use href="/img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-item-sm">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="mobile-menu-icon-sm" width="24" height="24">
              <use href="/img/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-item-sm">
          <a href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="mobile-menu-icon-sm" width="24" height="24">
              <use href="/img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
