<h2 class="our-yachts-title">
  Choose your dream <span class="our-yachts-title-span-mobile"></span>yacht
  <span class="our-yachts-title-span"
    >and
    <span class="our-yachts-title-span-desktop"
      >sail away into the sunset</span
    ></span
  >
</h2>

<ul class="our-yachts-list">
  <li class="our-yachts-item">
    <div class="our-yachts-image">
      <picture>
        <source
          srcset="
            /img/ouryachts/yaht-arrow-desktop-big.jpg    1x,
            /img/ouryachts/yaht-arrow-desktop-big@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/ouryachts/yaht-arrow-desktop-small.jpg    1x,
            /img/ouryachts/yaht-arrow-desktop-small@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/ouryachts/yaht-arrow-tablet.jpg    1x,
            /img/ouryachts/yaht-arrow-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/ouryachts/yaht-arrow-mobile.jpg    1x,
            /img/ouryachts/yaht-arrow-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class=""
          src="/img/ouryachts/yaht-arrow-mobile.jpg"
          alt="yaht-arrow-mobile"
          width="302"
        />
      </picture>
    </div>
    <div class="name-cont">
      <p class="yacht-name">Arrow</p>
      <p class="yacht-name-type">LUXURY YAHTS</p>
    </div>
    <div class="yacht-info-cont">
      <ul class="yacht-info-list-left">
        <li class="yacht-info-item-left">LENGTH</li>
        <li class="yacht-info-item-left">BUILDER</li>
        <li class="yacht-info-item-left">BUILT</li>
        <li class="yacht-info-item-left">GUESTS</li>
        <li class="yacht-info-item-left">PRICE</li>
      </ul>
      <ul class="yacht-info-list-right">
        <li class="yacht-info-item-right">48m(155ft)</li>
        <li class="yacht-info-item-right">Admiral</li>
        <li class="yacht-info-item-right">2021</li>
        <li class="yacht-info-item-right">11 in 5 cabins</li>
        <li class="yacht-info-item-right">€33,500,000</li>
      </ul>
    </div>
  </li>

  <li class="our-yachts-item two">
    <div class="our-yachts-image">
      <picture>
        <source
          srcset="
            /img/ouryachts/yaht-oasis-desktop-big.jpg    1x,
            /img/ouryachts/yaht-oasis-desktop-big@2x.jpg 2x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            /img/ouryachts/yaht-oasis-desktop-small.jpg    1x,
            /img/ouryachts/yaht-oasis-desktop-small@2x.jpg 2x
          "
          media="(min-width: 1280px)" />
        <source
          srcset="
            /img/ouryachts/yaht-oasis-tablet.jpg    1x,
            /img/ouryachts/yaht-oasis-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            /img/ouryachts/yaht-oasis-mobile.jpg    1x,
            /img/ouryachts/yaht-oasis-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class=""
          src="/img/ouryachts/yaht-arrow-mobile.jpg"
          alt="yaht-arrow-mobile"
          width="302"
      /></picture>
    </div>

    <div class="name-cont-two">
      <p class="yacht-name">
        BENETTI OASIS 40...<span class="yacht-name-span">M BO122</span>
      </p>
      <p class="yacht-name-type">LUXURY YAHTS</p>
    </div>
    <div class="yacht-info-cont">
      <ul class="yacht-info-list-left">
        <li class="yacht-info-item-left">LENGTH</li>
        <li class="yacht-info-item-left">SHIPYARD</li>
        <li class="yacht-info-item-left">BUILT</li>
        <li class="yacht-info-item-left">GUESTS</li>
        <li class="yacht-info-item-left">PRICE</li>
      </ul>
      <ul class="yacht-info-list-right">
        <li class="yacht-info-item-right">41m (133ft)</li>
        <li class="yacht-info-item-right">Benetti</li>
        <li class="yacht-info-item-right">2025</li>
        <li class="yacht-info-item-right">10 in 5 cabins</li>
        <li class="yacht-info-item-right">€23,210,000</li>
      </ul>
    </div>
  </li>
  <li class="our-yachts-item three">
    <div class="our-yachts-image">
      <picture>
        <source
          srcset="
            /img/ouryachts/yaht-anna-desktop-big.jpg    1x,
            /img/ouryachts/yaht-anna-desktop-big@2x.jpg 2x
          "
          media="(min-width: 1440px)" />
        <source
          srcset="
            /img/ouryachts/yaht-anna-desktop-small.jpg    1x,
            /img/ouryachts/yaht-anna-desktop-small@2x.jpg 2x
          "
          media="(min-width: 1280px)" />
        <source
          srcset="
            /img/ouryachts/yaht-anna-tablet.jpg    1x,
            /img/ouryachts/yaht-anna-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)" />
        <source
          srcset="
            /img/ouryachts/yaht-anna-mobile.jpg    1x,
            /img/ouryachts/yaht-anna-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)" />
        <img
          class=""
          src="/img/ouryachts/yaht-arrow-mobile.jpg"
          alt="yaht-arrow-mobile"
          width="302"
      /></picture>
    </div>

    <div class="name-cont-three">
      <p class="yacht-name">BELLE ANNA</p>
      <p class="yacht-name-type">LUXURY YAHTS</p>
    </div>
    <div class="yacht-info-cont">
      <ul class="yacht-info-list-left">
        <li class="yacht-info-item-left">LENGTH</li>
        <li class="yacht-info-item-left">SHIPYARD</li>
        <li class="yacht-info-item-left">BUILT</li>
        <li class="yacht-info-item-left">GUESTS</li>
        <li class="yacht-info-item-left">PRICE</li>
      </ul>
      <ul class="yacht-info-list-right">
        <li class="yacht-info-item-right">50m(155ft)</li>
        <li class="yacht-info-item-right">ISA</li>
        <li class="yacht-info-item-right">2012</li>
        <li class="yacht-info-item-right">12 in 6 cabins</li>
        <li class="yacht-info-item-right">€21,000,000</li>
      </ul>
    </div>
  </li>
</ul>
<div class="link">
  <a class="our-yachts-link" href="#rent">Yacht rental</a>
</div>