
  <h2 class="our-yachts-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <div class="our-yachts-container">
      <ul class="our-yachts-list">
    <li class="our-yachts-item">
      <picture>
        <source
          srcset="
            ../img/ouryachts/yaht1-desktop1440.jpg    1x,
            ../img/ouryachts/yaht1-desktop1440@2x.jpg 2x
          "
          media="min-width: 1440px" />
        <source
          srcset="
            ../img/ouryachts/yaht1-desktop1280.jpg    1x,
            ../img/ouryachts/yaht1-desktop1280@2x.jpg 2x
          "
          media="min-width: 1280px" />
        <source
          srcset="
            ../img/ouryachts/yaht1-tablet.jpg    1x,
            ../img/ouryachts/yaht1-tablet@2x.jpg 2x
          "
          media="min-width: 768px" />

        <source
          srcset="
            ../img/ouryachts/yaht-mobile.jpg    1x,
            ../img/ouryachts/yaht-mobile@2x.jpg 2x
          "
          media="max-width: 767px" />
        <img
          class="yaht-mobile"
          src="../img/ouryachts/yaht-mobile.jpg"
          alt="yaht-mobile"
          width="302"
      /></picture>
      <div class="name-cont">
        <p class="yacht-name">Arrow</p>
        <p class="yacht-name-type">LUXURY YAHTS</p>
      </div>
      <div class="yacht-info-cont">
        <ul class="yacht-info-list-left">
          <li class="yacht-info-item-left">LENGTH</li>
          <li class="yacht-info-item-left">BUILDER</li>
          <li class="yacht-info-item-left">BUILT</li>
          <li class="yacht-info-item-left">GUESTS</li>
          <li class="yacht-info-item-left">PRICE</li>
        </ul>
        <ul class="yacht-info-list-right">
          <li class="yacht-info-item-right">48m(155ft)</li>
          <li class="yacht-info-item-right">Admiral</li>
          <li class="yacht-info-item-right">2021</li>
          <li class="yacht-info-item-right">11 in 5 cabins</li>
          <li class="yacht-info-item-right">€33,500,000</li>
        </ul>
      </div>
    </li>
    </div>
    <li></li>
    <li></li>
  </ul>
  <a class="our-yachts-link" href="#rent">Yacht rental</a>
</div>
