/* #region  MOBILE */

.about_us {
  
  margin-top: -198px;
  /* Для позиціювання картинки 3-й варіант
  position: relative; */
}

.container-about_us {
  min-width: 335px;
  height: 675px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  background: #fbfbfb;
  border-radius: 24px 24px 0 0;
}

.about_us-box {
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  /* Для позиціювання картинки */
  /* padding-bottom: 40px; */
}

.about_us-title-main {
  padding: 40px 0 0;
  width: 295px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #1b414b;
}

.about_us-title {
  max-width: 295px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #1b414b;
}

.about_us-item {
  max-width: 295px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.4px;
  color: #040306;
  opacity: 0.4;
}

.about_us-foto {
  max-width: 335px;
  border-radius: 24px;
}

.about_us-foto-box {
  display: flex;
  justify-content: center;

  margin-top: -295px;

  /* Для позиціювання картинки 2-й варіант */
  /* transform: translate(0, -295px); */
}

/* Для позиціювання картинки 3-й варіант */
/* .about_us-foto {
  position: absolute;
  top: 700px;
  transform: translate(-50%, -50%);
} */

/* Mobile  335+20+20=375 */
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/* #endregion  MOBILE */

/* #region  TABLET */

/* Tablet  704+32+32=768 */
@media screen and (min-width: 768px) {
  .about_us {
    margin-top: -76px;
    }


 

  .container {
    /* Для позиціювання картинки */
    max-width: 704px;
  }

  .container-about_us {
    gap: 50px;
  }

  .about_us-title-main {
    padding-top: 50px;
    width: 536px;
    font-size: 48px;
  }
  .about_us-box {
    width: 389px;

    /* Для позиціювання картинки */
    /* padding-bottom: 50px; */
  }
  .about_us-title {
    max-width: 389px;
    font-size: 23px;
  }

  .about_us-item {
    max-width: 389px;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.2px;
  }
  .about_us-foto {
    /* Для позиціювання картинки */
    max-width: 768px;
  }
  .about_us-foto-box {
    display: flex;
    justify-content: center;

    /* Для позиціювання картинки */
    margin-top: -194px;
  }
}

/* #endregion  TABLET */

/* #region  DESKTOP_1280 */

/* Desktop  1180+50+50=1280    */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
  .about_us {
    margin-top: -44px;
    }
  

  .container-about_us {
    padding: 50px 50px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about_us-title-main {
    padding: 0;
    width: 537px;
  }
  .about_us-box {
    width: 354px;

    /* Для позиціювання картинки */
    /* padding-bottom: 100px; */
  }
  .about_us-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #1b414b;
  }

  .about_us-item {
    letter-spacing: 0.3px;
  }
  .about_us-foto {
    /* Для позиціювання картинки */
    max-width: 1180px;
  }

  .about_us-foto-box {
    display: flex;
    justify-content: center;

    /* Для позиціювання картинки */
    margin-top: -315px;
  }
}

/* #endregion  DESKTOP_1280 */

/* #region  DESKTOP_1440 */

/* Desktop  1340+50+50=1440    */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1340px;
  }

  .about_us-title-main {
    width: 537px;
    letter-spacing: 0.5px;
  }

  .about_us-box {
    width: 404px;

    /* Для позиціювання картинки */
    /* padding-bottom: 100px; */
  }

  .about_us-title {
    max-width: 404px;

    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #1b414b;
  }

  .about_us-item {
    max-width: 404px;
    letter-spacing: 0.2px;
  }

  .about_us-foto {
    /* Для позиціювання картинки */
    max-width: 1340px;
  }
  .about_us-foto-box {
    display: flex;
    justify-content: center;

    /* Для позиціювання картинки */
    margin-top: -340px;
  }
}

/* #endregion  DESKTOP_1440 */
